/* adding style to the squares */
.square {
    height: 5em;
    width: 5em;
    background-color: black;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    
} 
/* Making squares wrap */
.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.square:hover {
    color: white;
}

